body {
	background-color:lightpink;
}

h1 {
	color:black;
  font-family: Arial Rounded MT Bold;
}

h2 {
	color:black;
   font-family: Arial Rounded MT Bold;
}

h3 {
	color:black;
   font-family: Arial Rounded MT Bold;
}

a {
	color:black;
   font-family: Arial Rounded MT Bold;
}

p {
	color:white;
   font-family: Arial Rounded MT Bold;
}




